
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Candidate"))
{
    <li>@Html.ActionLink("Person", "Index", "Person")</li>
    <li>@Html.ActionLink("Badge", "Index", "Badge")</li>
    <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
    if (User.IsInRole("Candidate"))
    {
        <li id="session_changes">@Html.ActionLink("Save Changes", "SessionChanges", "Admin")</li>
    }
}
else
{
    <li>@Html.ActionLink("Person", "Index", "Person")</li>
}