@model MVCApp.ViewModels.PersonEditViewModel

<form id="person_form_edit" class="form-horizontal col-md-12">
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "name", id = "person_name" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextBoxFor(m => m.BirthDate, new {@class = "form-control", id = "birthdate"})
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Photo)
        @Html.TextBoxFor(m => m.Photo, new { @class = "form-control", type = "file", id = "uploadedPhoto" })
        @Html.ValidationMessageFor(m => m.Photo)
    </div>
    <input type="submit" class="btn btn-primary" Value="Save Changes" />
    <button id="btn_cancel" class="btn btn-primary">Cancel</button>
</form>