
@model MVCApp.ViewModels.PersonViewModel
<div class="col-md-6">
    <table id="person_table" class="table table-striped">
        <tr class="table-header">
            <th>Photo</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Age</th>
            <th>Badges</th>
        </tr>
            <tr id="@Model.Id">
                <td>
                    <img src="@Url.Action("GetPhoto", "Person", new {personId = @Model.Id, fileName = @Model.PhotoUrl})" class="photoImg" />
                </td>
                <td name="name">@Model.Name</td>
                <td name="birthDate">@Model.BirthDate.ToString("MM/dd/yyyy")</td>
                <td>@Model.Age</td>
                <td>
                    <div class="add_badge_container">
                        @foreach (var badge in Model.Badges)
                        {
                            <div class="badge_item">
                                <img img_id="@badge.Id" src="@Url.Action("GetImage", "Badge", new {badgeId = @badge.Id, fileName = @badge.ImageUrl})" 
                                     title="@badge.Title" class="photoImg img-circle" />
                            </div>
                        }
                    </div>
                </td>
            </tr>
    </table>
</div>

<div id="badgeModal" class="modal">
    <div id="badgeInfo" class="modal-content">
    </div>
</div>