@model MVCApp.ViewModels.PersonViewModel
<tr id="@Model.Id">
    <td>@Model.Name</td>
    <td>@Model.BirthDate.ToString("dd/MM/yyyy")</td>
    <td>@Model.Age</td>
    <td>
        <img src="@Url.Action("GetPhoto", "Person", new { personId = @Model.Id, fileName = @Model.PhotoUrl })" class="photoImg" />
    </td>
    <td><button name="delete_person" delete_id="@Model.Id" class="btn btn-link">Delete</button></td>
</tr>
